@tailwind base;
@tailwind components;
@tailwind utilities;

/* seu CSS normal */
body {
  background-color: #00171F;
}

@keyframes fade-slide {
  0% { opacity: 0; transform: translateY(-6px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
}

.float {
  animation: float 4s ease-in-out infinite;
}
.float-slow {
  animation: float 5s ease-in-out infinite;
}

.animate-fade-slide {
  animation: fade-slide 0.2s ease-out;
}
